.left-text {
  text-align: left;

  display: flex;
  flex-direction: column;
  padding-top: 10%;
  /* justify-content: center; */
}
.left-text h1 {
  font-size: 100px;
  margin-left: -5px;
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  .left-text {
    padding-top: 25%;
  }
  .left-text > h1 {
    font-size: 50px;
  }
}
#learn {
  margin-left: 1%;
  text-decoration: none;
  color: black;
}
.brand-name {
  color: #a4de02;
}
#brand-crew {
  font-weight: 300;
}
.bg-color {
  background-color: rgb(250, 253, 255);
}
.pad {
  padding-left: 5%;
  padding-right: 5%;
}
