.navigation {
  margin-left: 55%;
}
.navbar-brand {
}
.navbar {
}
/*
.nav-bar {
  background-color: #4c9a2a;
  padding: 10px;
}

.navbar-brand {
  color: white;
  font-size: 40px;
  display: contents;
}
.navigation {
  align-self: center;
  padding-top: 10px;
}*/
.navigation a {
  color: #a4de02;
  font-size: 20px;
  text-decoration: none;
  /* margin-left: 20px; */
  font-weight: 400;
}

.navigation > .btn-google {
  margin-left: 5px;
}

.rapid {
  color: #a4de02;
  font-weight: 600;
  font-size: 40px;
}
.crew {
  color: #a4de02;
  font-weight: 300;
  font-size: 40px;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.btn-google {
  background-color: #a4de02;
  border: none;
  border-radius: 7px;
  font-weight: 500;
  padding: 5px 20px;
}
.text {
  color: white;
  background-color: #a4de02;
  padding: 5px 10px;
  border-radius: 7px;
}
